#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
set1 = set(data)
print(set1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [2]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)

#the Output will 1,2,3 beacuse this is a set and it returns only unique values

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [3]:
# write your code here
set_1 = set()
for i in range(1,6):
    set_1.add(i)
print(set_1)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [4]:
# write your code here
s = {}
s.add(10)      # beacuse the s is dictionar and in dict we can not add

AttributeError: 'dict' object has no attribute 'add'

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [5]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print("Union: ",A.union(B))
print("Intersection: ",A.intersection(B))
print("Diffrence: ",A.difference(B))

Union:  {2, 4, 6, 8, 12}
Intersection:  {8, 4}
Diffrence:  {2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [6]:
# write your code here
s = {5, 10, 15, 20}
if 15 in s:
  print("15 exists in the set")
else:
  print("15 does not exist in the set")

15 exists in the set

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [8]:
# write your code here
s = {10, 20, 30, 40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [10]:
# write your code here
num  = [1, 2, 2, 3, 4, 4, 5]
set1 = set(num)
print(len(set1))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [11]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [12]:
# write your code here
s = {1, 2, [3, 4]}    # no beacuse the each set value have there unique hash value and list can not have hash

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [18]:
# write your code here
data = {100, 200, 300}
list1 = list(data)
print(list1[0])

200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [19]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}

print("union: ",class_A.union(class_B))
print("intersection: ",class_A.intersection(class_B))

union:  {'Simran', 'Neha', 'Aman', 'Riya', 'Karan'}
intersection:  {'Aman', 'Neha'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [20]:
# write your code here
text = "programming"
set1 = set(text)
print(set1)

{'i', 'o', 'm', 'g', 'n', 'p', 'a', 'r'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [21]:
# write your code here
sentence = "python is easy and python is powerful"
set1 = set(sentence.split())
print(set1)

{'powerful', 'is', 'and', 'easy', 'python'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [22]:
# write your code here
s = set('hello')
print(s)

{'e', 'h', 'l', 'o'}