Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [6]:
#write answer here
num = 1
while num<=20:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [8]:
#write answer here
even = 2
while even<=50:
  print(even)
  even +=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Q3. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [11]:
#write answer here
num = 5
count = 1
while count<=10:
  print(f"{num} X {count} = {num*count}")
  count +=1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [15]:
#write answer here
n = int(input("Enter the number: "))
sum = 0
num = 1
while num <= n:
  sum = sum + num
  num +=1

print(f"Total sum of number from 1 to {n} is: {sum}")

Enter the number: 5
Total sum of number from 1 to 5 is: 15

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [28]:
#write answer here

var= int(input())
new = var
res=0
while var>0:
  temp = var % 10
  res = res*10 + temp
  var = var // 10
print(res)

6654
4566

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [26]:
#write answer here
num = int(input("Enter a number: "))

if num == 0:
    count = 1
else:

    temp_num = abs(num)
    count = 0
    while temp_num > 0:
        temp_num //= 10
        count += 1


print(f"Total digits: {count}")

Enter a number: 678
Total digits: 3

Q7. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [27]:
#write answer here

var= int(input())
new = var
res=0
while var>0:
  temp = var % 10
  res = res*10 + temp
  var = var // 10
print(res)
if new==res:
  print("Palindrome")
else:
  print("Not Palindrome")

121
121
Palindrome

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [ ]:
#write answer here

var=int(input())

fake=10

while var!=fake:
  print("Try again")
  var=int(input())

print("Guessed correctly")

Submission link for this assignment -